@import '../../global/+variables.modules.scss';



.menuLateral {
    background: $corQuintenaria;
    display: grid;
    max-width:100%;

    &_wrapper{
        padding:2%;
        margin:4%;
    }
}

@media screen and (max-width:$sm_media){
    .menuLateral > *{
        font-size:2rem;
        padding:0;
        margin:0;
    }
}


