@import '../../global/+variables.modules.scss';



.menuLateral {
    background: $corQuintenaria;
    display: grid;
    max-width:100%;

    &_wrapper{
        padding:2%;
        margin:4%;
    }
}


