@import '../../global/+variables.modules.scss';


.artigo {
    background: $corQuintenaria;
    display: grid;
    grid-template-columns: 100%;

    &_box{
        border:0.2rem solid $corTercearia;
        margin: 2%;
        padding:1%;
    }
    
    &_textos {
        padding: 0.5rem;

        &>h1 {
            padding: 0;
            margin: 1rem 0.3rem;
            background-color: $corDestaque;
        }

        &>p {
            padding: 0 1rem;
            color: $corSecundaria;
            font-size: 1.4rem;

        }
    
    }
}