@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Dhurjati&family=Kalnia:wght@100;300&display=swap');


//Cores
$corPrimaria: #E15E13;
$corSecundaria: #385461;
$corTercearia:#E03A12;
$corQuarternaria: #3A3861;
$corDestaque:#E09D12;

//Tipografia
$fonteTexto: "Alfacad";
$fonteTitulo: "Kalnia";

//Medidas de fontes
$sm_fonte: 0.7rem;
$md_fonte:1.2rem;
$g_fonte:3rem;

//Medidas de media queries