@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Dhurjati&family=Kalnia:wght@100;300&display=swap');


//Cores
$corPrimaria: #df824d;
$corSecundaria: #2d4550;
$corTercearia: #df4924;
$corQuarternaria: #575585;
$corQuintenaria: #e48a31;
$corDestaque: #dd9e1f;

//Tipografia
$fonteTexto: "Alfacad";
$fonteTitulo: "Kalnia";

//Medidas de fontes
$sm_fonte: 0.7rem;
$md_fonte: 1.2rem;
$g_fonte: 2.5rem;

//Medidas de media queries
$sm_media: 730px;
$md_media: 1366px;
$g_media: 1920px;