@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Dhurjati&family=Kalnia:wght@100;300&display=swap');


//Cores
$corPrimaria: #E15E13;
$corSecundaria: #385461;
$corDestaque: #3A3861;

//Tipografia
$fonteTexto: "Alfacad";
$fonteTitulo: "Kalnia";

//Medidas de fontes


//Medidas de media queries