@import "../../global/+variables.modules.scss";

.botao {
    background: $corDestaque;
    padding: 0.5rem;
    font-size: $md_fonte;
    text-decoration: none;
    color: $corSecundaria;
    border-radius: 10%;

    &:hover {
        transition: 1s;
        color: $corDestaque ;
        background: $corSecundaria;
        font-size: 1.5rem;

    }

}