@import '../../global/+variables.modules.scss';


.icone {
    color: $corSecundaria;
    margin: 10%;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        transition: 1s;
        color: $corTercearia;
        transform: scale(1.1);
    }
}