@import '../../global/+variables.modules.scss';


.icone {
    color: $corSecundaria;
    margin:5%;
    cursor: pointer;
    padding:10%;

    &:hover {
        transition: 1s;
        color: $corTercearia;
        transform: scale(1.1);
    }

    
}