/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Texto/Texto.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Dhurjati&family=Kalnia:wght@100;300&display=swap");
.Texto_texto__eQZ74 {
  font-size: 1.2rem;
  font-family: "Alfacad";
  color: #575585;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Artigo/Artigo.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Dhurjati&family=Kalnia:wght@100;300&display=swap");
.Artigo_artigo__bm6Jl {
  background: #e48a31;
  display: grid;
  grid-template-columns: 100%;
}
.Artigo_artigo_box__DhF_p {
  border: 0.2rem solid #df4924;
  margin: 2%;
  padding: 1%;
}
.Artigo_artigo_textos__xL1_4 {
  padding: 0.5rem;
}
.Artigo_artigo_textos__xL1_4 > h1 {
  padding: 0;
  margin: 1rem 0.3rem;
  background-color: #dd9e1f;
}
.Artigo_artigo_textos__xL1_4 > p {
  padding: 0 1rem;
  color: #2d4550;
  font-size: 1.4rem;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Botao/Botao.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Dhurjati&family=Kalnia:wght@100;300&display=swap");
.Botao_botao__f_dnW {
  background: #dd9e1f;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #2d4550;
  border-radius: 10%;
}
.Botao_botao__f_dnW:hover {
  transition: 1s;
  color: #dd9e1f;
  background: #2d4550;
  font-size: 1.5rem;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Videos/Videos.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Dhurjati&family=Kalnia:wght@100;300&display=swap");
.Videos_video__Stg1l {
  background: #dd9e1f;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  border-radius: 4%;
  padding: 0 2%;
  align-items: space-around;
  justify-content: space-between;
}
.Videos_video_item__xGhN5 {
  background-color: #df4924;
  margin: 3%;
  padding: 1%;
  width: 90%;
}
.Videos_video_item__xGhN5:nth-child(2n+2) {
  background-color: #e48a31;
}

@media screen and (max-width: 1366px) {
  .Videos_video__Stg1l {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 750px) {
  .Videos_video__Stg1l {
    grid-template-columns: 100%;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/paginaPrincipal.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.paginaPrincipal_container_pagina_principal__gZmsU {
  padding: 0 4%;
}

.paginaPrincipal_container_alinhamento_central__xNFwI {
  text-align: center;
}
